[Unit]
Description=djob agent
Documentation=https://github.com/hz89/djob
After=syslog.target
After=network.target

[Service]
Type=simple
LimitNOFILE=9999
PIDFile=/run/djob/djob.pid
ExecStart=/usr/bin/djob agent --pid /run/djob/djob.pid --config /etc/djob/djob.yml
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGQUIT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target